html, body {
    height: 100%;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
}

.sticky-footer {
    margin-top: auto;
    width: 100%;
}